K8S_DOCKER_REGISTRY_PASS=<password>
K8S_DOCKER_REGISTRY=registry.gitlab.com
K8S_DOCKER_REGISTRY_USER=<user>
DOCKER_PUSH_REGISTRY_PASS=<password>
DOCKER_PUSH_REGISTRY=$K8S_DOCKER_REGISTRY
DOCKER_PUSH_REGISTRY_USER=<user>
YUGABYTEDB_USERNAME=<user>
YUGABYTEDB_PASSWORD=<password>
CONFLUENTCLOUD_CLUSTER_KEY=<key>
CONFLUENTCLOUD_CLUSTER_PASSWORD=<password>
CONFLUENTCLOUD_BROKER_ENDPOINT=<endpoint>
